/* ------------------------------ Resert ------------------------------ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------------------------ Header1 ------------------------------ */
body{
    font-family: Tofino, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background-color: #f2f4f6;
}

.section-header{
    background-color: #1b232c;
    color: white;
}

.header1 {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #535b63;
    /*padding-bottom: 20px;*/
    margin-inline: 266px;
    padding-top: 47px;
    padding-bottom: 15px;
}

.logo {
    width: 260px;
}

.header1-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: end;
    padding-bottom: 10px;
}
.header1-menu p {
    font-size: 15px;
    text-transform: uppercase;
}

.header1-menu img {
    width: 20px;
}

.header1-nuevo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: end;
    padding-bottom: 10px;
}

.header1-nuevo p {
    font-size: 15px;
    text-transform: uppercase;
}

.header1-nuevo img {
    width: 20px;
}

/* ------------------------------ Header2 ------------------------------ */
.header2 {
    display: flex;
    justify-content: space-between;
    margin-inline: 266px;
}
.header2-div1-ul {
    display: flex;
    margin-block: 15px;
    gap: 30px
}

.header2 li {
    padding: 10px 0px 5px 0px;
}

.header2 a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
}

.header2-div1 img {
    width: 20px;
}

.header2-div2-ul {
    display: flex;
    margin-block: 15px;
    gap: 10px;
}

.header2-div2 img {
    width: 25px;
}

/* ------------------------------ Main ------------------------------ */
main {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #1b232c; */
    flex-direction: column;
}

/* ------------------------------ Grid ------------------------------ */
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3fr 1fr;
    grid-template-areas: 
    "item1 item1 item1"
    "item2 item3 item4";
    gap: 30px;
    width: 1370px; /*ver*/
    padding-right: 40px;
    margin-block: 20px;
}

.grid__item1 {
    grid-area: item1;
    background-image: url(../img/item1.jpeg);
    height: 730px;
    display: flex;
    justify-content: start;
    align-items: end;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.grid__item1 h5 {
    font-size: 40px;
    font-weight: bold;
    color: white;
    width: 800px;
    padding: 20px;
}

.grid__item2 {
    grid-area: item2;
    background-image: url(../img/item2.jpeg);
    height: 250px;
    border: 4px solid #454a51;
    display: flex;
    justify-content: start;
    align-items: end;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.grid__item2 h5 {
    color: white;
    font-weight: bold;
    font-size: 20px;
    width: 400px;
    padding: 20px;
}

.grid__item3 {
    grid-area: item3;
    background-image: url(../img/item3.jpeg);
    height: 250px;
    border: 4px solid #454a51;
    display: flex;
    justify-content: start;
    align-items: end;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.grid__item3 h5 {
    color: white;
    font-weight: bold;
    font-size: 20px;
    width: 400px;
    padding: 20px;
}

.grid__item4 {
    grid-area: item4;
    background-image: url(../img/item4.jpeg);
    height: 250px;
    border: 4px solid #454a51;
    display: flex;
    justify-content: start;
    align-items: end;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.grid__item4 h5 {
    color: white;
    font-weight: bold;
    font-size: 20px;
    width: 400px;
    padding: 20px;
}

.grid__item1:hover {
    transform: scale(1.1) translateY(-10px);
}

.grid__item2:hover, .grid__item3:hover, .grid__item4:hover {
    transform: scale(1.1) translateY(-10px);
    border: 4px solid #72da38;
}

a {
    text-decoration: none;
}

/* ------------------------------ Publicaciones ------------------------------ */
.publicaciones {
    /* background-color: white; */
    width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.publicacion {
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.publicacion:hover {
    transform: scale(1.1) translateY(-1px);
}

.publicacion-left {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.publicacion-left h5 {
    font-weight: bold;
    font-size: 25px;
    color: black;
    padding: 20px;
}

.publicacion-left p {
    font-size: 15px;
    padding: 20px;
}

/* ------------------------------ Recomendado ------------------------------ */
.recomendado {
    background-color: #f2f4f6;
    margin-top: 10px;
}

.recomendado h3 {
    font-family: Tofino, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    text-transform: uppercase;
    color: #707070;
    margin-left: 270px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 20px;
}

.recomendado a {
    color: #2a6f02;
}
.recomendado a:hover {
    color: #cb3737;
}

.recomendado p {
    font-size: 21px;
    line-height: 1.5;
    font-family: "Times New Roman", Times, serif;
/*    padding-left: 25px; /*no me cierra*/
}

.recomendado-flex {
    display: flex;
    margin-inline: 270px;
    gap: 40px;
    text-align: center;
}

.recomendado p {
    font-size: 18px;
}

.recomendado img {
    width: 320px;
    height: 140px;
    border-radius: 5px 5px 0px 0px;
}

.recomendado1, .recomendado2, .recomendado3, .recomendado4{
    background-color: #fdfdfe;
    padding-bottom: 5px;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.recomendado1:hover, .recomendado2:hover, .recomendado3:hover, .recomendado4:hover {
    transform: scale(1.1) translateY(-10px);
}

/* ------------------------------ Newsletter ------------------------------ */
.newsletter {
    background-color: #253241;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-block: 30px;
    margin-top: 90px;
}

.newsletter-div1 img {
    width: 45px;
}

.newsletter-div1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;

}

.newsletter-div1 h4 {
    color: white;
    font-size: 23px;
    font-weight: 400;
}

.newsletter-div2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    
}

.newsletter-div2 p:nth-child(1) {
    color: white;
    font-size: 13px;
}

.suscribete {
    background-color: #2a6f02;
    padding-inline: 10px;
    padding-block: 7px;    
    border-radius: 5px;
    text-decoration: none;
    color: white;
}

.suscribete:hover {
    background-color: #cb3737;
}

.suscribete:focus {
    background-color: white;
    color: #111111;
}

.newsletter-div2-p2 {
    color: #b1b5ba;
    font-size: 14px;
}

.newsletter-div2-p2 a {
    color: #b1b5ba;
    text-decoration: underline;
}

/* ------------------------------ Temas Interes ------------------------------ */
.temas-interes {
    margin-top: 50px;
    margin-inline: 270px;
}

.temas-interes p {
    color: #707070;
    font-size: 13px;
    font-family: Tofino, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.temas-interes a {
    color: black;
    font-family: Tofino, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* ------------------------------ Hablamos ------------------------------ */
.hablamos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 185px;
    margin-top: 100px;
    background-color: #eaecef;
    padding-top: 40px;
}

.hablamos h4 {
    font-weight: bold;
    font-size: 20px;
}

.hablamos-uls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 235px; /*mod distancia*/
    margin-top: 25px;
    margin-left: 5px; /*mod distancia izq*/
    margin-bottom: 15px;
}

.hablamos-uls li {
    margin-block: 12px;
}

.hablamos-uls a {
    color: #9f9f9f;
    text-decoration: none;
    font-size: 14px;
}

.hablamos-uls a:hover {
    color: white;
    background-color: #9f9f9f;
    border-radius: 2px;
    padding-block: 3px;
}

.hablamos-button a {
    text-decoration: none;
    color: white;
    font-size: 12px;
}

.hablamos-button {
    background-color: #404750;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.hablamos-newsletter {
    align-self: flex-start;
    
}

.hablamos-newsletter h4{
    width: 400px;
    margin-bottom: 25px;
}

.hablamos-input-text {
    width: 310px;
    height: 30px;
    border: none;
    font-size: 14px;
    margin-bottom: 15px;
}

.hablamos-input-submit {
    color: white;
    background-color: #348008;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.newsletter-div2-p2 { 
    color: #707073;
}

.newsletter-div2-p2 a {
    color: #707073;
}
/* ------------------------------ Buscar ------------------------------ */
.buscar {
    background-color: #eaecef;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
}
.buscar-input-text {
    width: 1300px;
    border: none;
    font-weight: 600;
    height: 70px;
    padding-left: 20px;
    font-size: 17px;
}

/* ------------------------------ Footer ------------------------------ */
footer {
    background-color: #111111;
    padding-bottom: 100px;
}

.section-footer {
    margin-inline: 270px;
}

.footer-title {
    color: #a0a0a0;
    font-weight: bold;
    font-size: 30px;
    padding-block: 20px;
}

.footer-title a {
    color: #a0a0a0;
    text-decoration: none;
}

.footer-ul {
    display: flex;
    justify-content: space-between;
    border-block: 1px solid #393939;
    padding-block: 25px;
}

.footer-ul li {
    margin-block: 12px;
}

.footer-ul li:nth-child(1) {
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
}

.footer-ul a {
    color: #9f9f9f;
    text-decoration: none;
    font-size: 14px;
}

.footer-ul a:hover {
    color: white;
    background-color: #9f9f9f;
    border-radius: 2px;
    padding-block: 3px;
}

.footer-bot-p1 {
    color: white;
    font-weight: 500;
    font-size: 14px;
    margin-top: 30px;
}

.footer-bot-ps {
    display: flex;
    gap: 225px;
    margin-top: 20px;
}

.footer-bot-ps a {
    color: #9f9f9f;
    text-decoration: none;
    font-size: 14px;
}

.footer-bot-ps a:hover {
    color: white;
    background-color: #9f9f9f;
    border-radius: 2px;
    padding-block: 3px;
}